<%= form_with(model: [category, task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-2 mb-4">
    <div class="field">
      <%= form.label :name, class: 'block' %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description, class: 'block' %>
      <%= form.text_area :description, class: 'w-full' %>
    </div>

    <div class="field">
      <%= form.label :status, class: 'block' %>
      <%= form.text_field :status %>
    </div>

    <div class="actions">
      <%= form.submit 'Save', class: 'btn-new' %>
    </div>
  </div>
<% end %>
