<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="w-40">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex justify-between items-center gap-2">
    <div class="field">
      <%= form.text_field :name, class: "max-w-36" %>
    </div>

    <%= form.hidden_field :parent_id %>
    <%= form.hidden_field :depth %>

    <div class="actions flex gap-2">
      <%= link_to categories_path, data: { turbo_frame: category.id.present? ? "category-update-#{category.id}" : "category-header" } do %>
        <i class="fa-solid fa-ban"></i>
      <% end %>

      <%= button_tag type: 'submit' do %>
        <i class="fas fa-save"></i>
      <% end %>
    </div>
  </div>
<% end %>
