<div class="flex gap-4">
  <div class="border-l-black-300 border-l-2 pl-4 w-full">
    <% if category.depth + 1 < Category::MAX_DEPTH %>
      <turbo-frame id="new_category_<%= category.depth + 1 %>">
        <%= render partial: 'header', locals: { category_id: category.id, depth: category.depth + 1 } %>
      </turbo-frame>
    <% end %>

    <div>
      <% if category.depth + 1 < Category::MAX_DEPTH %>
        <div id="categories_<%= category.depth + 1 %>" class="border-sky-200 border-b-2 pb-4 mb-4">
          <% category.subcategories.each do |category| %>
            <%= render partial: 'category', locals: { category: category } %>
          <% end %>
        </div>
      <% end %>

      <h2 class="text-2xl mb-4">
        <span>Tasks</span>
        <%= link_to new_category_task_path(category) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </h2>

      <ul class="mb-4">
        <% category.tasks.each do |task| %>
          <li class="flex gap-2 items-center">
            <p><%= task.name %> | <%= task.description %> | <%= task.status %></p>
            <%= link_to edit_category_task_path(category, task) do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <%= button_to category_task_path(category, task), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <turbo-frame id="subcategory_<%= category.depth + 1 %>">
    <% if category.subcategories.present? %>
      <%= render partial: 'subcategory', locals: { category: category.subcategories.find_by(checked: true) } %>
    <% end %>
  </turbo-frame>
</div>
