<div class="border-2 p-4 w-full">
  <h2 class="text-2xl">Categories <%= link_to '+', new_category_subcategory_path(category), class: 'inline-block btn-new mb-4' %></h2>
  <ul>
    <% category.subcategories.each do |subcategory| %>
      <li class='flex gap-2 items-center mb-4'>
        <%= link_to subcategory.name, category_path(subcategory), class: 'btn' %>

        <% if subcategory.subcategories.present? %>
          <%= render partial: 'subcategory', locals: { category: subcategory } %>
        <% end %>

        <%= link_to 'Edit', edit_category_path(subcategory), class: 'btn-edit' %>
        <%= button_to 'Delete', category_path(subcategory), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-cancel' %>
      </li>
    <% end %>
  </ul>

  <h2 class="text-2xl">Tasks <%= link_to '+', new_category_task_path(category), class: 'inline-block btn-new mb-2' %></h2>
  <ul class="mb-4">
    <% category.tasks.each do |task| %>
      <li class="flex gap-2 items-center">
        <p><%= task.name %> | <%= task.description %> | <%= task.status %></p>
        <%= link_to 'Edit', edit_category_task_path(category, task), class: 'btn-edit' %>
        <%= button_to 'Delete', category_task_path(category, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-cancel' %>
      </li>
    <% end %>
  </ul>

<%= link_to 'Back', category&.parent_id ? category_path(category&.parent_id) : categories_path, class: 'btn-back inline-block' %>
</div>
