<div class="flex gap-4">
  <div class="border-l-black-300 border-l-2 pl-4 w-full">
    <turbo-frame id="new_category_<%= @category.depth + 1 %>" class="mb-4">
      <%= render partial: 'header', locals: { category_id: @category.id, depth: @category.depth + 1 } %>
    </turbo-frame>

    <div>
      <div id="categories_<%= @category.depth + 1 %>">
        <% category.subcategories.each do |category| %>
          <%= render partial: 'category', locals: { category: category } %>
        <% end %>
      </div>

      <h2 class="text-2xl mb-4">
        <span>Tasks</span>
        <%= link_to new_category_task_path(category) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </h2>

      <ul class="mb-4">
        <% category.tasks.each do |task| %>
          <li class="flex gap-2 items-center">
            <p><%= task.name %> | <%= task.description %> | <%= task.status %></p>
            <%= link_to edit_category_task_path(category, task) do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <%= button_to category_task_path(category, task), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= link_to category&.parent_id ? subcategory_category_path(category.parent) : categories_path do %>
      <i class="fa-solid fa-ban"></i>
    <% end %>
  </div>
  <turbo-frame id="subcategory_<%= @category.depth + 1 %>"></turbo-frame>
</div>
